@font-face {
    font-family: 'bebas';
    src: url('./fonts/BebasNeue-Regular.ttf')  format('truetype')
}

body {
    font-family: 'Noto Sans';
    color:#555567;
    background-color:black;
}

li.nav-item {
    background-color: #b0b0b1;
}

li.nav-item a {
    color:black;
}

#leftColumn {
    padding:10px;
}

#leftColumn h3 {
    background-color: black;
    color:#555567;
}

#aircraft {
    flex: 1;
    height: 45vh;
}

#ACContent {
    overflow: auto;
    max-height: 35vh;
}

#objectives {
    flex: 1;
    height: 45vh;
}

#abtable td {
    height:40px;
}

#root {
    height:100%;
}

.nav-tabs {
    background-color: black;
}

.blueacs tr {
    background: linear-gradient(to right, rgba(0,0,200,.25) , rgba(0,0,100,.15), rgba(0,0,100,0));
}

.blueacs tr.aircraft-item:hover{
    background: linear-gradient(to right, rgba(0,0,200,.7) , rgba(0,0,100,.4), rgba(0,0,100,0.2));
}

.redacs tr {
    background: linear-gradient(to right, rgba(100,0,0,.3) , rgba(100,0,0,.15), rgba(100,0,0,0));
}
.redacs tr.aircraft-item:hover{
    background: linear-gradient(to right, rgba(100,0,0,.6) , rgba(100,0,0,.4), rgba(100,0,0,0.2));
}

.blueap {
    background: linear-gradient(to right, rgba(0,0,140,.4) , rgba(0,0,100,0));
}
.blueap:hover {
    background: linear-gradient(to right, rgba(0,0,140,.8) , rgba(0,0,100,0));
}

.redap {
    background: linear-gradient(to right, rgba(100,0,0,.5) , rgba(100,0,0,0));
}

.redap:hover {
    background: linear-gradient(to right, rgba(100,0,0,.8) , rgba(100,0,0,0));
}

.farptable > tbody > tr.redfarp {
    background: linear-gradient(to right, rgba(100,0,0,.5) , rgba(100,0,0,0));
}
.farptable > tbody > tr.redfarp:hover {
    background: linear-gradient(to right, rgba(100,0,0,.8) , rgba(100,0,0,0));
}
.farptable > tbody > tr.bluefarp {
    background: linear-gradient(to right, rgba(0,0,140,.4) , rgba(0,0,100,0));
}
.farptable > tbody > tr.bluefarp:hover {
    background: linear-gradient(to right, rgba(0,0,140,.8) , rgba(0,0,100,0));
}

.sidebar-table {
    border: 1px solid #232323;
}

.sidebar-table tbody tr {
    background-color: #101010;
    cursor: pointer;
}

.sidebar-table tbody td {
    border: none;
    border-top: 1px solid #232323;
    color: #f3f3f3;
}

.sidebar-table a {
    color: #d8d8f8;
}

.sidebar-table{
    font-size: small;
    text-align: left;
}
.acID tr {
    padding: 0;
    margin: 0;
}

.acID td {
    padding: 0;
    padding-left: 3px;
    margin: 0;
}

.farpicon {
    opacity: .6;
}

.apicon {
    opacity: .6;
}

.tab-header-icon {
    width: 24px;
    height: 24px;
}

.nav-tabs .nav-item {
    margin-right: -1px;
}

li.nav-item {
    background-color: #383838;
    border-width: 0px 1px;
    border-color: #797979;
    border-style: solid;
    border-radius: 5px 5px 0px 0px;
}

li.nav-item a {
    color: #ddd;
}

.hidden {
    display: none;
}

.aircraft-item {
    height: 40px;
    cursor: pointer;
}

#filterDiv {
    color: #b0b0b1;
    background-color:#353547;
    border-radius: 5px;
    position: absolute;
    z-index:2;
    right:5px;
    top:5px;
    padding:15px;
    opacity: 0.8;
}

#uptimeDiv {
    position: absolute;
    z-index:2;
    left:5px;
    bottom:5px;
    padding:10px;
}

.leaflet-container {
    z-index:1;
}

.leaflet-container {
    flex: 1;
    margin: 0 0;
}